name: ci
on: 
  push:
    branches:
      - main

    paths-ignore:
    - 'README.md'
    - 'LICENSE'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build 
      run: go build -o golang-app .

    - name: Test
      run : go test ./...

  static-analysis:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version: stable

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.6

  docker:
    runs-on: ubuntu-latest
    needs: static-analysis
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Debug files
        run: |
          pwd
          ls -la
          find . -name Dockerfile


      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/golang-app:${{github.run_id}}
          with:
            file: ./Dockerfile
            context: ./Golang-app

  update-newtag-in-helm-chart:
    runs-on: ubuntu-latest
    needs: docker

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.TOKEN }}

    - name: Update tag in Helm chart
      run: |
        sed -i 's/tag: .*/tag: "${{github.run_id}}"/' helm/golang-application/values.yml

    - name: Commit and push changes
      run: |
        git config --global user.email "yogasetiawan121212@gmail.com"
        git config --global user.name "yoga.setiawan11"
        git add helm/golang-application/values.yml
        git commit -m "Update tag in Helm chart"
        git push
